.portfolio {
  padding: 106px 0 99px;
  background-color: $light-gray;
  &_title {
    margin-bottom: 55px;
  }
  .project {
    text-align: center;
    img {
      width: 100%;
    }
    &_text {
      margin: 33px 0 103px;
      a {
        text-decoration: underline;
      }
    }
    &:last-child .project_text {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 420px) {
  .portfolio {
    padding: 74px 0 84px;
    &_title {
      margin-bottom: 72px;
    }
    .project {
      text-align: center;
      &_text {
        margin: 20px 0 82px;
      }
    }
  }
}
