-
    var socialNetworks = [
        {imageUrl: "contacts_in.svg", name: "LinkedIn"},
        {imageUrl: "contacts_inst.svg", name: "Instagram"},
        {imageUrl: "contacts_be.svg", name: "Behance"},
        {imageUrl: "contacts_dri.svg", name: "Dribble"},
    ];

mixin contacts_socialNetwork
  .contacts_wrapper
    .contacts_socialNetworks
      for inner in socialNetworks
        a(href="#")
          +icon(inner.imageUrl, inner.name)
