-
    var nav = [
        {name: "Home", link: "#", active: 'active'},
        {name: "About me", link: "#"},
        {name: "Skills", link: "#"},
        {name: "Portfolio", link: "#"},
        {name: "Contacts", link: "#"}
    ];
mixin header_burger
        .header_burger
            button.header_burger_cross
              +icon("header_mobile_cross.svg", "cross")
            for inner in nav
                div.header_burger_item
                    a.header_burger_link(href=inner.link class=inner.active)=inner.name
            .header_burger_lang
              span RU 
              ||
              span.active ENG