-
    var nav = [
        {name: "Home", link: "#", active: 'active'},
        {name: "About me", link: "#"},
        {name: "Skills", link: "#"},
        {name: "Portfolio", link: "#"},
        {name: "Contacts", link: "#"}
    ];
mixin header_nav
    nav
        ul.header_nav
            for inner in nav
                li.header_nav_item
                    a.header_nav_link(href=inner.link class=inner.active)=inner.name