-
    var projects = [
        {imageUrl: "portfolio_prj_1.png", text: "Online fashion store - Homepage"},
        {imageUrl: "portfolio_prj_2.png", text: "Reebok Store - Concept"},
        {imageUrl: "portfolio_prj_3.png", text: "Braun Landing Page - Concept"},
    ];

mixin portfolio_projects
    for inner in projects
        div.project
            +image(inner.imageUrl, inner.text)
            p.project_text
                a(href="#")=inner.text
