extends ../layout/main

block variables
  - let title = 'Landing example';
  - let pageClass = 'main-page';

block content
  section.about
    .container
      h2.about_title.section_title About me
      p.about_text 
        |Hi, I'm Denis – UX/UI designer from Minsk.
        |I'm interested in design and everything connected with it.
      p.about_text
        |I'm studying at courses "Web and mobile design
        |interfaces" in IT-Academy.
      p.about_text
        |Ready to implement excellent projects
        |with wonderful people.
  section.skills
    .container
      h2.skills_title.section_title Skills
      p.skills_text I work in such programs as
      +skills_grade
  section.portfolio
    .container
      h2.portfolio_title.section_title Portfolio
      +portfolio_projects
  section.contacts
    .container
      h2.contacts_title.section_title Contacts
      p.contacts_text
        |Want to know more or just chat?
        br
        |You are welcome!
      button.contacts_btn Send message
      +contacts_socialNetwork
      p.contacts_ps
        |Like me on
        br
        |LinkedIn, Instagram, Behance, Dribble
